
<nav style="background:#1976d2;color:white;padding:10px;">
 <a routerLink="/" style="color:white;margin-right:15px;">Dashboard</a>
 <a routerLink="/employees" style="color:white;margin-right:15px;">Employees</a>
 <a routerLink="/attendance" style="color:white;margin-right:15px;">Attendance</a>
 <a routerLink="/leave" style="color:white;margin-right:15px;">Leave Request</a>
 <a routerLink="/approval" style="color:white;">Leave Approval</a>
</nav>

<div class="container">
 <router-outlet></router-outlet>
</div>
